* {
   font-family: 'Roboto', 'sans-serif';
   box-sizing: border-box;
}

.body {
   background-color:grey ;
}


.content {
   padding: 1rem;
   background-color: white;
   height: 100%;
   width: 100%;
}

@media screen and (min-width: 992px) {
   .content {
      max-width: 992px;
      max-height: auto;
      margin: 1rem 1rem;
      border-radius: 1rem;
   }
}

